body,html,*
{
 /* //background-color: lightblue; */
 margin:0;
 padding:0;
 font-family: "Lucida Grande", "Lucida sans unicode", "Lucida sans", "DeJavu sans", verdana, "sans-serif";
 box-sizing:border-box;
}
body{
    background-color: #074F39;
}
#info
{
    font-size: xx-large;
    text-align: center;
    color: white;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding:1.5rem;
}
#header-name{
    display: inline-block;
    float:left;
    margin-left:0rem;
    padding:.5rem;
}
#speciality{
    display: inline-block;
    float:right;
    margin-right:.5rem;
    padding:.5rem;
}
#entete
{
    color: white;
    background-color: black;
}
.clearfix::after{
    clear: both;
    display: table;
    content: "";
}
#logo
{
    width:50vw;
    height: 50vh;
    text-align: center;
    margin: auto;
    display: flex;
}
#slider
{
    background-color: #ccc;
    width: 80vw;
    height: 70vh;
    position: relative;
    margin-left: 9.1vw;
    margin-bottom: 2vh;
}

#lien
{
    left: 27vw;
    top: 10vw;
    position: absolute;
    border: 5px whitesmoke solid;
    margin-bottom: 25px;
    font-size: 2.5em;
    padding:2vh;
    text-align: center;
    display: flex;
   opacity: 0.8;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
#lien:hover {
    opacity: 1;
}

#voiture
{
	width: 100%;
    height: 100%;
}


#btn_left
{   
    height: 50vh;
    width: 50vh;
    left:0px;
    top:35vw;
    position: absolute;
}
#btn_right
{
    height: 50vh;
    width: 50vh;
    right:0px;
    top: 35vw;
    position: absolute;
}
.left
{
 position:absolute;
 top:80%;
 left:10px;
 width:60px;
 height:70px;
 opacity:0.4;
}
.right
{
 position:absolute;
 top:80%;
 right:10px;
 width:60px;
 height:70px;
 opacity:0.4;
}
.left:hover
{
 opacity:1;
}
.right:hover
{
 opacity:1;
}
.footer
{
	height:120px;
	clear:left;
	padding:0px;
	bottom:0;
	margin-top:auto;
	text-align:center;
	background-color:#000;
	border-top:2px solid #AAA;
}
.footer h2
{
	color:#FFFFFF;
	opacity:0.8;
}
.footer footer
{
	color:#FFFFFF;
	opacity:0.4;
}
@media only screen and (max-width:768px) {
    #header-name, #speciality{
        margin-top: 1vh;
        display: block;
        float:none;
    }
    .left{
        margin-top: 55vh;
        float: none;
        width:7vw;
        height:8vw;
        
    }
    .right{
        margin-top: 55vh;
        float: none;
        right:0vw;
        width:7vw;
        height:8vw;

    }
    
    #lien{
        float: none;
        width:fit-content;
        font-size: 0.9em;
        overflow-wrap: break-word;
        text-align: center;
        vertical-align: middle;
        height: fit-content;
      
    }
    
    .footer
    {
    	height:80px;
	    clear:left;
	    padding:0px;
	    bottom:0;
	    margin-top:auto;
	    text-align:center;
	    background-color:#000;
	    border-top:2px solid #AAA;
    }
    .footer h2
    {
	    color:#FFFFFF;
	    opacity:0.8;
        font-size: 16px;
    }

    
}